body {
  background: rgb(204, 224, 233);
}

main {
  max-width: 50%;
  margin: auto;
  margin-top: 10rem;
  padding: 1.5rem;
}

form {
  font: 1.2rem sans-serif;
  max-width: 100%;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea,
fieldset {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 80%;
  box-sizing: border-box;
}

/* style for invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* style of the error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.pwdInfo p {
  color: red;
  font-size: 0.9rem;
  display: none;
}
